<div style="height: 100%; width: 100%; margin: 0; position: fixed;">
    <div class="fsh-wasm" style="background-image: linear-gradient(-120deg, #003A5D 50%, #ffffff 50%)"></div>
    <div class="fsh-wasm" style="animation-direction: alternate-reverse; animation-duration: 2s; background-image: linear-gradient(-120deg, #003A5D 50%, #ffffff 50%)"></div>
    <div class="fsh-wasm" style="animation-duration: 5s; background-image: linear-gradient(-120deg, #003A5D 50%, #ffffff 50%)"></div>
    <div class="fsh-wasm-cont ">
        <img src="/media/tempore-logo.png" Style="height: 350px; width: 350px; opacity: 0.8" />
    </div>
</div>